<configuration>
    <!-- Ignore warnings/errors about logback itself -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="hre.progress.ProgressAwareLogbackLayout" />
        </encoder>
    </appender>

    <appender name="HISTORY" class="hre.log.LogHistory">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%p] %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="HISTORY" />
    </root>
</configuration>